
aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 32px 24px; /*3.2rem 2.4rem*/
    background: #59549A;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #8a12ec;
    border-radius: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

aside.sidebar footer button:hover{
    background: #a665f0;
}

.with-sidebar {
    padding-left: 110px;
}